#img
{
	z-index: -1;
	min-height: 100%;
	min-width: 1024px;
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
}
#form
{	
	
	position: absolute;
	top: 50%;
	text-align:left;
	left: 50%;
	margin-top: -200px;
	margin-left: -260px;
	width: 400px;
	height: 400px;
	background-color: #b0e0e6;
	border: 2px solid #a1a1a1;
	padding: 10px 40px; 
	background: #dddddd;
	border-radius: 25px;
}
li
{
	line-height: 200%;
	float:left;
}
.classname {
	float:right;
	box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	background-color:#b8e356;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	height:65px;
	line-height:65px;
	width:131px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #86ae47;
}
.classname:hover {
	
	background-color:#a5cc52;
}.classname:active {
	
	position:relative;
	top:1px;
}
.tag
{
	margin-top: 8px;
	position: relative;
	float:left;
	left: 100px;
	margin: 0px;
}
.text { font-family: times, serif; font-size:14pt; font-style:Calibri; }
