body
		{
		position: relative;
		overflow: auto;
		}
#name
		{
		float: left;
		width: 69%;
		text-align:center;
		height:10%;
		border-bottom: solid 3px green; 
		position: relative;  
		z-index: 1; 
		}
#login
		{
		border-left: solid 3px black;
		border-bottom: solid 3px green;  
		position: relative;  
		z-index: 1; 
		text-align: right;
		float: left;
		width: 29.3%;
		}
#menu
		{
		border-bottom: solid 3px;
		position: relative;  
		z-index: 1; 
		float: left;
		clear: both;
		width:9.7%;
		border-right:solid 3px;	
		}
#calcs 
		{
		border-bottom:solid 3px;
		height:800px;
		width: 59%;
		float: left;  
		position: relative;  
		z-index: 1;
		}
#calc1	
		{
		width:60%;
		position: relative;
		float:left;
		font-family: times, serif;
		}
#calc2
		{
		
		width:40%;
		height:200px;
		float:left;
		position: relative;
		}
#aprasas
		{
		width:20%;
		height:60%;
		clear:both;
		position: relative;
		float: left; 
		}
#about
		{
		border-bottom:solid 3px;
		width: 59%;
		position: relative;
		float: left;
		}

#reklama
		{
		border-bottom: solid 3px;
		border-left-style: solid; 
		width: 30%;
		position: relative;  
		z-index: 1; 
		float: left;
		}
#support
		{
		border-bottom: solid 3px;
		width: 59%;
		height: 800px;
		float: left;
		position: relative;  
		z-index: 1; 
		}
#help	
		{
		border-bottom: solid 3px;
		width: 59%;
		height: 800px;
		position: relative;
		float: left;  
		position: relative;  
		z-index: 1; 
		}
#img
		{
		z-index: -1;
		min-height: 100%;
		min-width: 1024px;
		width: 100%;
		height: auto;
		position: fixed;
		top: 0;
		left: 0;
		}
#rezults{
	clear:both;
	float:left;
	position: relative;
	left: 0px;
}
#options
	{
		position:relative; 
		left:10px;
	}
.section
	{
	display:none;
	}
a
	{
	color: black;
	text-decoration: none; 
	background-color: none;
	}
.logintext { font-family: times, serif; font-size:14pt; font-style:Times New Roman; }
button{height: 30px; width: 90%;}
h3 {text-align: center; }
p {text-align: right; }
br{height: 1px;}